body {
    font-family: 'Libre+Baskerville';
    background-color: black;
}
h1 {
    text-align: center;
    color: white;
}
div {
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 35%;
}
p{
    text-align: center;
    color: white;
}
img {
    border: 10px solid blue;
}

h1 {
    font-family: "Libre Baskerville", system-ui;
    font-weight: 400;
    font-style: normal;
  }
  
  